[class^="md-icon"] {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    vertical-align: middle;
    margin-top: -1px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}
[class^="md-icon-"].md-18 { font-size: 18px; }
[class^="md-icon-"].md-24 { font-size: 24px; }
[class^="md-icon-"].md-36 { font-size: 36px; }
[class^="md-icon-"].md-48 { font-size: 48px; }
[class^="md-icon-"].md-dark { color: rgba(0, 0, 0, 0.54); }
[class^="md-icon-"].md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }
[class^="md-icon-"].md-light { color: rgba(255, 255, 255, 1); }
[class^="md-icon-"].md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
.lt-ie9 [class^="md-icon-"].md-dark {
    color: #000;
    filter: alpha(opacity=54);
}
.lt-ie9 [class^="md-icon-"].md-dark.md-inactive {
    filter: alpha(opacity=26);
}
.lt-ie9 [class^="md-icon-"].md-light {
    color: #fff;
}
.lt-ie9 [class^="md-icon-"].md-light.md-inactive {
    filter: alpha(opacity=30);
}
.lt-ie10 .md-icon-3d-rotation:before { content: "\e84d"; }
.lt-ie10 .md-icon-access-alarm:before { content: "\e190"; }
.lt-ie10 .md-icon-access-alarms:before { content: "\e191"; }
.lt-ie10 .md-icon-access-time:before { content: "\e192"; }
.lt-ie10 .md-icon-accessibility:before { content: "\e84e"; }
.lt-ie10 .md-icon-account-balance:before { content: "\e84f"; }
.lt-ie10 .md-icon-account-balance-wallet:before { content: "\e850"; }
.lt-ie10 .md-icon-account-box:before { content: "\e851"; }
.lt-ie10 .md-icon-account-circle:before { content: "\e853"; }
.lt-ie10 .md-icon-adb:before { content: "\e60e"; }
.lt-ie10 .md-icon-add:before { content: "\e145"; }
.lt-ie10 .md-icon-add-alarm:before { content: "\e193"; }
.lt-ie10 .md-icon-add-alert:before { content: "\e003"; }
.lt-ie10 .md-icon-add-box:before { content: "\e146"; }
.lt-ie10 .md-icon-add-circle:before { content: "\e147"; }
.lt-ie10 .md-icon-add-circle-outline:before { content: "\e148"; }
.lt-ie10 .md-icon-add-shopping-cart:before { content: "\e854"; }
.lt-ie10 .md-icon-add-to-photos:before { content: "\e39d"; }
.lt-ie10 .md-icon-adjust:before { content: "\e39e"; }
.lt-ie10 .md-icon-airline-seat-flat:before { content: "\e630"; }
.lt-ie10 .md-icon-airline-seat-flat-angled:before { content: "\e631"; }
.lt-ie10 .md-icon-airline-seat-individual-suite:before { content: "\e632"; }
.lt-ie10 .md-icon-airline-seat-legroom-extra:before { content: "\e633"; }
.lt-ie10 .md-icon-airline-seat-legroom-normal:before { content: "\e634"; }
.lt-ie10 .md-icon-airline-seat-legroom-reduced:before { content: "\e635"; }
.lt-ie10 .md-icon-airline-seat-recline-extra:before { content: "\e636"; }
.lt-ie10 .md-icon-airline-seat-recline-normal:before { content: "\e637"; }
.lt-ie10 .md-icon-airplanemode-active:before { content: "\e195"; }
.lt-ie10 .md-icon-airplanemode-inactive:before { content: "\e194"; }
.lt-ie10 .md-icon-airplay:before { content: "\e055"; }
.lt-ie10 .md-icon-alarm:before { content: "\e855"; }
.lt-ie10 .md-icon-alarm-add:before { content: "\e856"; }
.lt-ie10 .md-icon-alarm-off:before { content: "\e857"; }
.lt-ie10 .md-icon-alarm-on:before { content: "\e858"; }
.lt-ie10 .md-icon-album:before { content: "\e019"; }
.lt-ie10 .md-icon-android:before { content: "\e859"; }
.lt-ie10 .md-icon-announcement:before { content: "\e85a"; }
.lt-ie10 .md-icon-apps:before { content: "\e5c3"; }
.lt-ie10 .md-icon-archive:before { content: "\e149"; }
.lt-ie10 .md-icon-arrow-back:before { content: "\e5c4"; }
.lt-ie10 .md-icon-arrow-drop-down:before { content: "\e5c5"; }
.lt-ie10 .md-icon-arrow-drop-down-circle:before { content: "\e5c6"; }
.lt-ie10 .md-icon-arrow-drop-up:before { content: "\e5c7"; }
.lt-ie10 .md-icon-arrow-forward:before { content: "\e5c8"; }
.lt-ie10 .md-icon-aspect-ratio:before { content: "\e85b"; }
.lt-ie10 .md-icon-assessment:before { content: "\e85c"; }
.lt-ie10 .md-icon-assignment:before { content: "\e85d"; }
.lt-ie10 .md-icon-assignment-ind:before { content: "\e85e"; }
.lt-ie10 .md-icon-assignment-late:before { content: "\e85f"; }
.lt-ie10 .md-icon-assignment-return:before { content: "\e860"; }
.lt-ie10 .md-icon-assignment-returned:before { content: "\e861"; }
.lt-ie10 .md-icon-assignment-turned-in:before { content: "\e862"; }
.lt-ie10 .md-icon-assistant:before { content: "\e39f"; }
.lt-ie10 .md-icon-assistant-photo:before { content: "\e3a0"; }
.lt-ie10 .md-icon-attach-file:before { content: "\e226"; }
.lt-ie10 .md-icon-attach-money:before { content: "\e227"; }
.lt-ie10 .md-icon-attachment:before { content: "\e2bc"; }
.lt-ie10 .md-icon-audiotrack:before { content: "\e3a1"; }
.lt-ie10 .md-icon-autorenew:before { content: "\e863"; }
.lt-ie10 .md-icon-av-timer:before { content: "\e01b"; }
.lt-ie10 .md-icon-backspace:before { content: "\e14a"; }
.lt-ie10 .md-icon-backup:before { content: "\e864"; }
.lt-ie10 .md-icon-battery-alert:before { content: "\e19c"; }
.lt-ie10 .md-icon-battery-charging-full:before { content: "\e1a3"; }
.lt-ie10 .md-icon-battery-full:before { content: "\e1a4"; }
.lt-ie10 .md-icon-battery-std:before { content: "\e1a5"; }
.lt-ie10 .md-icon-battery-unknown:before { content: "\e1a6"; }
.lt-ie10 .md-icon-beenhere:before { content: "\e52d"; }
.lt-ie10 .md-icon-block:before { content: "\e14b"; }
.lt-ie10 .md-icon-bluetooth:before { content: "\e1a7"; }
.lt-ie10 .md-icon-bluetooth-audio:before { content: "\e60f"; }
.lt-ie10 .md-icon-bluetooth-connected:before { content: "\e1a8"; }
.lt-ie10 .md-icon-bluetooth-disabled:before { content: "\e1a9"; }
.lt-ie10 .md-icon-bluetooth-searching:before { content: "\e1aa"; }
.lt-ie10 .md-icon-blur-circular:before { content: "\e3a2"; }
.lt-ie10 .md-icon-blur-linear:before { content: "\e3a3"; }
.lt-ie10 .md-icon-blur-off:before { content: "\e3a4"; }
.lt-ie10 .md-icon-blur-on:before { content: "\e3a5"; }
.lt-ie10 .md-icon-book:before { content: "\e865"; }
.lt-ie10 .md-icon-bookmark:before { content: "\e866"; }
.lt-ie10 .md-icon-bookmark-border:before { content: "\e867"; }
.lt-ie10 .md-icon-border-all:before { content: "\e228"; }
.lt-ie10 .md-icon-border-bottom:before { content: "\e229"; }
.lt-ie10 .md-icon-border-clear:before { content: "\e22a"; }
.lt-ie10 .md-icon-border-color:before { content: "\e22b"; }
.lt-ie10 .md-icon-border-horizontal:before { content: "\e22c"; }
.lt-ie10 .md-icon-border-inner:before { content: "\e22d"; }
.lt-ie10 .md-icon-border-left:before { content: "\e22e"; }
.lt-ie10 .md-icon-border-outer:before { content: "\e22f"; }
.lt-ie10 .md-icon-border-right:before { content: "\e230"; }
.lt-ie10 .md-icon-border-style:before { content: "\e231"; }
.lt-ie10 .md-icon-border-top:before { content: "\e232"; }
.lt-ie10 .md-icon-border-vertical:before { content: "\e233"; }
.lt-ie10 .md-icon-brightness-1:before { content: "\e3a6"; }
.lt-ie10 .md-icon-brightness-2:before { content: "\e3a7"; }
.lt-ie10 .md-icon-brightness-3:before { content: "\e3a8"; }
.lt-ie10 .md-icon-brightness-4:before { content: "\e3a9"; }
.lt-ie10 .md-icon-brightness-5:before { content: "\e3aa"; }
.lt-ie10 .md-icon-brightness-6:before { content: "\e3ab"; }
.lt-ie10 .md-icon-brightness-7:before { content: "\e3ac"; }
.lt-ie10 .md-icon-brightness-auto:before { content: "\e1ab"; }
.lt-ie10 .md-icon-brightness-high:before { content: "\e1ac"; }
.lt-ie10 .md-icon-brightness-low:before { content: "\e1ad"; }
.lt-ie10 .md-icon-brightness-medium:before { content: "\e1ae"; }
.lt-ie10 .md-icon-broken-image:before { content: "\e3ad"; }
.lt-ie10 .md-icon-brush:before { content: "\e3ae"; }
.lt-ie10 .md-icon-bug-report:before { content: "\e868"; }
.lt-ie10 .md-icon-build:before { content: "\e869"; }
.lt-ie10 .md-icon-business:before { content: "\e0af"; }
.lt-ie10 .md-icon-cached:before { content: "\e86a"; }
.lt-ie10 .md-icon-cake:before { content: "\e7e9"; }
.lt-ie10 .md-icon-call:before { content: "\e0b0"; }
.lt-ie10 .md-icon-call-end:before { content: "\e0b1"; }
.lt-ie10 .md-icon-call-made:before { content: "\e0b2"; }
.lt-ie10 .md-icon-call-merge:before { content: "\e0b3"; }
.lt-ie10 .md-icon-call-missed:before { content: "\e0b4"; }
.lt-ie10 .md-icon-call-received:before { content: "\e0b5"; }
.lt-ie10 .md-icon-call-split:before { content: "\e0b6"; }
.lt-ie10 .md-icon-camera:before { content: "\e3af"; }
.lt-ie10 .md-icon-camera-alt:before { content: "\e3b0"; }
.lt-ie10 .md-icon-camera-enhance:before { content: "\e8fc"; }
.lt-ie10 .md-icon-camera-front:before { content: "\e3b1"; }
.lt-ie10 .md-icon-camera-rear:before { content: "\e3b2"; }
.lt-ie10 .md-icon-camera-roll:before { content: "\e3b3"; }
.lt-ie10 .md-icon-cancel:before { content: "\e5c9"; }
.lt-ie10 .md-icon-card-giftcard:before { content: "\e8f6"; }
.lt-ie10 .md-icon-card-membership:before { content: "\e8f7"; }
.lt-ie10 .md-icon-card-travel:before { content: "\e8f8"; }
.lt-ie10 .md-icon-cast:before { content: "\e307"; }
.lt-ie10 .md-icon-cast-connected:before { content: "\e308"; }
.lt-ie10 .md-icon-center-focus-strong:before { content: "\e3b4"; }
.lt-ie10 .md-icon-center-focus-weak:before { content: "\e3b5"; }
.lt-ie10 .md-icon-change-history:before { content: "\e86b"; }
.lt-ie10 .md-icon-chat:before { content: "\e0b7"; }
.lt-ie10 .md-icon-chat-bubble:before { content: "\e0ca"; }
.lt-ie10 .md-icon-chat-bubble-outline:before { content: "\e0cb"; }
.lt-ie10 .md-icon-check:before { content: "\e5ca"; }
.lt-ie10 .md-icon-check-box:before { content: "\e834"; }
.lt-ie10 .md-icon-check-box-outline-blank:before { content: "\e835"; }
.lt-ie10 .md-icon-check-circle:before { content: "\e86c"; }
.lt-ie10 .md-icon-chevron-left:before { content: "\e5cb"; }
.lt-ie10 .md-icon-chevron-right:before { content: "\e5cc"; }
.lt-ie10 .md-icon-chrome-reader-mode:before { content: "\e86d"; }
.lt-ie10 .md-icon-class:before { content: "\e86e"; }
.lt-ie10 .md-icon-clear:before { content: "\e14c"; }
.lt-ie10 .md-icon-clear-all:before { content: "\e0b8"; }
.lt-ie10 .md-icon-close:before { content: "\e5cd"; }
.lt-ie10 .md-icon-closed-caption:before { content: "\e01c"; }
.lt-ie10 .md-icon-cloud:before { content: "\e2bd"; }
.lt-ie10 .md-icon-cloud-circle:before { content: "\e2be"; }
.lt-ie10 .md-icon-cloud-done:before { content: "\e2bf"; }
.lt-ie10 .md-icon-cloud-download:before { content: "\e2c0"; }
.lt-ie10 .md-icon-cloud-off:before { content: "\e2c1"; }
.lt-ie10 .md-icon-cloud-queue:before { content: "\e2c2"; }
.lt-ie10 .md-icon-cloud-upload:before { content: "\e2c3"; }
.lt-ie10 .md-icon-code:before { content: "\e86f"; }
.lt-ie10 .md-icon-collections:before { content: "\e3b6"; }
.lt-ie10 .md-icon-collections-bookmark:before { content: "\e431"; }
.lt-ie10 .md-icon-color-lens:before { content: "\e3b7"; }
.lt-ie10 .md-icon-colorize:before { content: "\e3b8"; }
.lt-ie10 .md-icon-comment:before { content: "\e0b9"; }
.lt-ie10 .md-icon-compare:before { content: "\e3b9"; }
.lt-ie10 .md-icon-computer:before { content: "\e30a"; }
.lt-ie10 .md-icon-confirmation-number:before { content: "\e638"; }
.lt-ie10 .md-icon-contact-phone:before { content: "\e0cf"; }
.lt-ie10 .md-icon-contacts:before { content: "\e0ba"; }
.lt-ie10 .md-icon-content-copy:before { content: "\e14d"; }
.lt-ie10 .md-icon-content-cut:before { content: "\e14e"; }
.lt-ie10 .md-icon-content-paste:before { content: "\e14f"; }
.lt-ie10 .md-icon-control-point:before { content: "\e3ba"; }
.lt-ie10 .md-icon-control-point-duplicate:before { content: "\e3bb"; }
.lt-ie10 .md-icon-create:before { content: "\e150"; }
.lt-ie10 .md-icon-credit-card:before { content: "\e870"; }
.lt-ie10 .md-icon-crop:before { content: "\e3be"; }
.lt-ie10 .md-icon-crop-16-9:before { content: "\e3bc"; }
.lt-ie10 .md-icon-crop-3-2:before { content: "\e3bd"; }
.lt-ie10 .md-icon-crop-5-4:before { content: "\e3bf"; }
.lt-ie10 .md-icon-crop-7-5:before { content: "\e3c0"; }
.lt-ie10 .md-icon-crop-din:before { content: "\e3c1"; }
.lt-ie10 .md-icon-crop-free:before { content: "\e3c2"; }
.lt-ie10 .md-icon-crop-landscape:before { content: "\e3c3"; }
.lt-ie10 .md-icon-crop-original:before { content: "\e3c4"; }
.lt-ie10 .md-icon-crop-portrait:before { content: "\e3c5"; }
.lt-ie10 .md-icon-crop-square:before { content: "\e3c6"; }
.lt-ie10 .md-icon-dashboard:before { content: "\e871"; }
.lt-ie10 .md-icon-data-usage:before { content: "\e1af"; }
.lt-ie10 .md-icon-dehaze:before { content: "\e3c7"; }
.lt-ie10 .md-icon-delete:before { content: "\e872"; }
.lt-ie10 .md-icon-description:before { content: "\e873"; }
.lt-ie10 .md-icon-desktop-mac:before { content: "\e30b"; }
.lt-ie10 .md-icon-desktop-windows:before { content: "\e30c"; }
.lt-ie10 .md-icon-details:before { content: "\e3c8"; }
.lt-ie10 .md-icon-developer-board:before { content: "\e30d"; }
.lt-ie10 .md-icon-developer-mode:before { content: "\e1b0"; }
.lt-ie10 .md-icon-device-hub:before { content: "\e335"; }
.lt-ie10 .md-icon-devices:before { content: "\e1b1"; }
.lt-ie10 .md-icon-dialer-sip:before { content: "\e0bb"; }
.lt-ie10 .md-icon-dialpad:before { content: "\e0bc"; }
.lt-ie10 .md-icon-directions:before { content: "\e52e"; }
.lt-ie10 .md-icon-directions-bike:before { content: "\e52f"; }
.lt-ie10 .md-icon-directions-boat:before { content: "\e532"; }
.lt-ie10 .md-icon-directions-bus:before { content: "\e530"; }
.lt-ie10 .md-icon-directions-car:before { content: "\e531"; }
.lt-ie10 .md-icon-directions-railway:before { content: "\e534"; }
.lt-ie10 .md-icon-directions-run:before { content: "\e566"; }
.lt-ie10 .md-icon-directions-subway:before { content: "\e533"; }
.lt-ie10 .md-icon-directions-transit:before { content: "\e535"; }
.lt-ie10 .md-icon-directions-walk:before { content: "\e536"; }
.lt-ie10 .md-icon-disc-full:before { content: "\e610"; }
.lt-ie10 .md-icon-dns:before { content: "\e875"; }
.lt-ie10 .md-icon-do-not-disturb:before { content: "\e612"; }
.lt-ie10 .md-icon-do-not-disturb-alt:before { content: "\e611"; }
.lt-ie10 .md-icon-dock:before { content: "\e30e"; }
.lt-ie10 .md-icon-domain:before { content: "\e7ee"; }
.lt-ie10 .md-icon-done:before { content: "\e876"; }
.lt-ie10 .md-icon-done-all:before { content: "\e877"; }
.lt-ie10 .md-icon-drafts:before { content: "\e151"; }
.lt-ie10 .md-icon-drive-eta:before { content: "\e613"; }
.lt-ie10 .md-icon-dvr:before { content: "\e1b2"; }
.lt-ie10 .md-icon-edit:before { content: "\e3c9"; }
.lt-ie10 .md-icon-eject:before { content: "\e8fb"; }
.lt-ie10 .md-icon-email:before { content: "\e0be"; }
.lt-ie10 .md-icon-equalizer:before { content: "\e01d"; }
.lt-ie10 .md-icon-error:before { content: "\e000"; }
.lt-ie10 .md-icon-error-outline:before { content: "\e001"; }
.lt-ie10 .md-icon-event:before { content: "\e878"; }
.lt-ie10 .md-icon-event-available:before { content: "\e614"; }
.lt-ie10 .md-icon-event-busy:before { content: "\e615"; }
.lt-ie10 .md-icon-event-note:before { content: "\e616"; }
.lt-ie10 .md-icon-event-seat:before { content: "\e903"; }
.lt-ie10 .md-icon-exit-to-app:before { content: "\e879"; }
.lt-ie10 .md-icon-expand-less:before { content: "\e5ce"; }
.lt-ie10 .md-icon-expand-more:before { content: "\e5cf"; }
.lt-ie10 .md-icon-explicit:before { content: "\e01e"; }
.lt-ie10 .md-icon-explore:before { content: "\e87a"; }
.lt-ie10 .md-icon-exposure:before { content: "\e3ca"; }
.lt-ie10 .md-icon-exposure-neg-1:before { content: "\e3cb"; }
.lt-ie10 .md-icon-exposure-neg-2:before { content: "\e3cc"; }
.lt-ie10 .md-icon-exposure-plus-1:before { content: "\e3cd"; }
.lt-ie10 .md-icon-exposure-plus-2:before { content: "\e3ce"; }
.lt-ie10 .md-icon-exposure-zero:before { content: "\e3cf"; }
.lt-ie10 .md-icon-extension:before { content: "\e87b"; }
.lt-ie10 .md-icon-face:before { content: "\e87c"; }
.lt-ie10 .md-icon-fast-forward:before { content: "\e01f"; }
.lt-ie10 .md-icon-fast-rewind:before { content: "\e020"; }
.lt-ie10 .md-icon-favorite:before { content: "\e87d"; }
.lt-ie10 .md-icon-favorite-border:before { content: "\e87e"; }
.lt-ie10 .md-icon-feedback:before { content: "\e87f"; }
.lt-ie10 .md-icon-file-download:before { content: "\e2c4"; }
.lt-ie10 .md-icon-file-upload:before { content: "\e2c6"; }
.lt-ie10 .md-icon-filter:before { content: "\e3d3"; }
.lt-ie10 .md-icon-filter-1:before { content: "\e3d0"; }
.lt-ie10 .md-icon-filter-2:before { content: "\e3d1"; }
.lt-ie10 .md-icon-filter-3:before { content: "\e3d2"; }
.lt-ie10 .md-icon-filter-4:before { content: "\e3d4"; }
.lt-ie10 .md-icon-filter-5:before { content: "\e3d5"; }
.lt-ie10 .md-icon-filter-6:before { content: "\e3d6"; }
.lt-ie10 .md-icon-filter-7:before { content: "\e3d7"; }
.lt-ie10 .md-icon-filter-8:before { content: "\e3d8"; }
.lt-ie10 .md-icon-filter-9:before { content: "\e3d9"; }
.lt-ie10 .md-icon-filter-9-plus:before { content: "\e3da"; }
.lt-ie10 .md-icon-filter-b-and-w:before { content: "\e3db"; }
.lt-ie10 .md-icon-filter-center-focus:before { content: "\e3dc"; }
.lt-ie10 .md-icon-filter-drama:before { content: "\e3dd"; }
.lt-ie10 .md-icon-filter-frames:before { content: "\e3de"; }
.lt-ie10 .md-icon-filter-hdr:before { content: "\e3df"; }
.lt-ie10 .md-icon-filter-list:before { content: "\e152"; }
.lt-ie10 .md-icon-filter-none:before { content: "\e3e0"; }
.lt-ie10 .md-icon-filter-tilt-shift:before { content: "\e3e2"; }
.lt-ie10 .md-icon-filter-vintage:before { content: "\e3e3"; }
.lt-ie10 .md-icon-find-in-page:before { content: "\e880"; }
.lt-ie10 .md-icon-find-replace:before { content: "\e881"; }
.lt-ie10 .md-icon-flag:before { content: "\e153"; }
.lt-ie10 .md-icon-flare:before { content: "\e3e4"; }
.lt-ie10 .md-icon-flash-auto:before { content: "\e3e5"; }
.lt-ie10 .md-icon-flash-off:before { content: "\e3e6"; }
.lt-ie10 .md-icon-flash-on:before { content: "\e3e7"; }
.lt-ie10 .md-icon-flight:before { content: "\e539"; }
.lt-ie10 .md-icon-flight-land:before { content: "\e904"; }
.lt-ie10 .md-icon-flight-takeoff:before { content: "\e905"; }
.lt-ie10 .md-icon-flip:before { content: "\e3e8"; }
.lt-ie10 .md-icon-flip-to-back:before { content: "\e882"; }
.lt-ie10 .md-icon-flip-to-front:before { content: "\e883"; }
.lt-ie10 .md-icon-folder:before { content: "\e2c7"; }
.lt-ie10 .md-icon-folder-open:before { content: "\e2c8"; }
.lt-ie10 .md-icon-folder-shared:before { content: "\e2c9"; }
.lt-ie10 .md-icon-folder-special:before { content: "\e617"; }
.lt-ie10 .md-icon-font-download:before { content: "\e167"; }
.lt-ie10 .md-icon-format-align-center:before { content: "\e234"; }
.lt-ie10 .md-icon-format-align-justify:before { content: "\e235"; }
.lt-ie10 .md-icon-format-align-left:before { content: "\e236"; }
.lt-ie10 .md-icon-format-align-right:before { content: "\e237"; }
.lt-ie10 .md-icon-format-bold:before { content: "\e238"; }
.lt-ie10 .md-icon-format-clear:before { content: "\e239"; }
.lt-ie10 .md-icon-format-color-fill:before { content: "\e23a"; }
.lt-ie10 .md-icon-format-color-reset:before { content: "\e23b"; }
.lt-ie10 .md-icon-format-color-text:before { content: "\e23c"; }
.lt-ie10 .md-icon-format-indent-decrease:before { content: "\e23d"; }
.lt-ie10 .md-icon-format-indent-increase:before { content: "\e23e"; }
.lt-ie10 .md-icon-format-italic:before { content: "\e23f"; }
.lt-ie10 .md-icon-format-line-spacing:before { content: "\e240"; }
.lt-ie10 .md-icon-format-list-bulleted:before { content: "\e241"; }
.lt-ie10 .md-icon-format-list-numbered:before { content: "\e242"; }
.lt-ie10 .md-icon-format-paint:before { content: "\e243"; }
.lt-ie10 .md-icon-format-quote:before { content: "\e244"; }
.lt-ie10 .md-icon-format-size:before { content: "\e245"; }
.lt-ie10 .md-icon-format-strikethrough:before { content: "\e246"; }
.lt-ie10 .md-icon-format-textdirection-l-to-r:before { content: "\e247"; }
.lt-ie10 .md-icon-format-textdirection-r-to-l:before { content: "\e248"; }
.lt-ie10 .md-icon-format-underlined:before { content: "\e249"; }
.lt-ie10 .md-icon-forum:before { content: "\e0bf"; }
.lt-ie10 .md-icon-forward:before { content: "\e154"; }
.lt-ie10 .md-icon-forward-10:before { content: "\e056"; }
.lt-ie10 .md-icon-forward-30:before { content: "\e057"; }
.lt-ie10 .md-icon-forward-5:before { content: "\e058"; }
.lt-ie10 .md-icon-fullscreen:before { content: "\e5d0"; }
.lt-ie10 .md-icon-fullscreen-exit:before { content: "\e5d1"; }
.lt-ie10 .md-icon-functions:before { content: "\e24a"; }
.lt-ie10 .md-icon-gamepad:before { content: "\e30f"; }
.lt-ie10 .md-icon-games:before { content: "\e021"; }
.lt-ie10 .md-icon-gesture:before { content: "\e155"; }
.lt-ie10 .md-icon-get-app:before { content: "\e884"; }
.lt-ie10 .md-icon-gif:before { content: "\e908"; }
.lt-ie10 .md-icon-gps-fixed:before { content: "\e1b3"; }
.lt-ie10 .md-icon-gps-not-fixed:before { content: "\e1b4"; }
.lt-ie10 .md-icon-gps-off:before { content: "\e1b5"; }
.lt-ie10 .md-icon-grade:before { content: "\e885"; }
.lt-ie10 .md-icon-gradient:before { content: "\e3e9"; }
.lt-ie10 .md-icon-grain:before { content: "\e3ea"; }
.lt-ie10 .md-icon-graphic-eq:before { content: "\e1b8"; }
.lt-ie10 .md-icon-grid-off:before { content: "\e3eb"; }
.lt-ie10 .md-icon-grid-on:before { content: "\e3ec"; }
.lt-ie10 .md-icon-group:before { content: "\e7ef"; }
.lt-ie10 .md-icon-group-add:before { content: "\e7f0"; }
.lt-ie10 .md-icon-group-work:before { content: "\e886"; }
.lt-ie10 .md-icon-hd:before { content: "\e052"; }
.lt-ie10 .md-icon-hdr-off:before { content: "\e3ed"; }
.lt-ie10 .md-icon-hdr-on:before { content: "\e3ee"; }
.lt-ie10 .md-icon-hdr-strong:before { content: "\e3f1"; }
.lt-ie10 .md-icon-hdr-weak:before { content: "\e3f2"; }
.lt-ie10 .md-icon-headset:before { content: "\e310"; }
.lt-ie10 .md-icon-headset-mic:before { content: "\e311"; }
.lt-ie10 .md-icon-healing:before { content: "\e3f3"; }
.lt-ie10 .md-icon-hearing:before { content: "\e023"; }
.lt-ie10 .md-icon-help:before { content: "\e887"; }
.lt-ie10 .md-icon-help-outline:before { content: "\e8fd"; }
.lt-ie10 .md-icon-high-quality:before { content: "\e024"; }
.lt-ie10 .md-icon-highlight-off:before { content: "\e888"; }
.lt-ie10 .md-icon-history:before { content: "\e889"; }
.lt-ie10 .md-icon-home:before { content: "\e88a"; }
.lt-ie10 .md-icon-hotel:before { content: "\e53a"; }
.lt-ie10 .md-icon-hourglass-empty:before { content: "\e88b"; }
.lt-ie10 .md-icon-hourglass-full:before { content: "\e88c"; }
.lt-ie10 .md-icon-http:before { content: "\e902"; }
.lt-ie10 .md-icon-https:before { content: "\e88d"; }
.lt-ie10 .md-icon-image:before { content: "\e3f4"; }
.lt-ie10 .md-icon-image-aspect-ratio:before { content: "\e3f5"; }
.lt-ie10 .md-icon-import-export:before { content: "\e0c3"; }
.lt-ie10 .md-icon-inbox:before { content: "\e156"; }
.lt-ie10 .md-icon-indeterminate-check-box:before { content: "\e909"; }
.lt-ie10 .md-icon-info:before { content: "\e88e"; }
.lt-ie10 .md-icon-info-outline:before { content: "\e88f"; }
.lt-ie10 .md-icon-input:before { content: "\e890"; }
.lt-ie10 .md-icon-insert-chart:before { content: "\e24b"; }
.lt-ie10 .md-icon-insert-comment:before { content: "\e24c"; }
.lt-ie10 .md-icon-insert-drive-file:before { content: "\e24d"; }
.lt-ie10 .md-icon-insert-emoticon:before { content: "\e24e"; }
.lt-ie10 .md-icon-insert-invitation:before { content: "\e24f"; }
.lt-ie10 .md-icon-insert-link:before { content: "\e250"; }
.lt-ie10 .md-icon-insert-photo:before { content: "\e251"; }
.lt-ie10 .md-icon-invert-colors:before { content: "\e891"; }
.lt-ie10 .md-icon-invert-colors-off:before { content: "\e0c4"; }
.lt-ie10 .md-icon-iso:before { content: "\e3f6"; }
.lt-ie10 .md-icon-keyboard:before { content: "\e312"; }
.lt-ie10 .md-icon-keyboard-arrow-down:before { content: "\e313"; }
.lt-ie10 .md-icon-keyboard-arrow-left:before { content: "\e314"; }
.lt-ie10 .md-icon-keyboard-arrow-right:before { content: "\e315"; }
.lt-ie10 .md-icon-keyboard-arrow-up:before { content: "\e316"; }
.lt-ie10 .md-icon-keyboard-backspace:before { content: "\e317"; }
.lt-ie10 .md-icon-keyboard-capslock:before { content: "\e318"; }
.lt-ie10 .md-icon-keyboard-hide:before { content: "\e31a"; }
.lt-ie10 .md-icon-keyboard-return:before { content: "\e31b"; }
.lt-ie10 .md-icon-keyboard-tab:before { content: "\e31c"; }
.lt-ie10 .md-icon-keyboard-voice:before { content: "\e31d"; }
.lt-ie10 .md-icon-label:before { content: "\e892"; }
.lt-ie10 .md-icon-label-outline:before { content: "\e893"; }
.lt-ie10 .md-icon-landscape:before { content: "\e3f7"; }
.lt-ie10 .md-icon-language:before { content: "\e894"; }
.lt-ie10 .md-icon-laptop:before { content: "\e31e"; }
.lt-ie10 .md-icon-laptop-chromebook:before { content: "\e31f"; }
.lt-ie10 .md-icon-laptop-mac:before { content: "\e320"; }
.lt-ie10 .md-icon-laptop-windows:before { content: "\e321"; }
.lt-ie10 .md-icon-launch:before { content: "\e895"; }
.lt-ie10 .md-icon-layers:before { content: "\e53b"; }
.lt-ie10 .md-icon-layers-clear:before { content: "\e53c"; }
.lt-ie10 .md-icon-leak-add:before { content: "\e3f8"; }
.lt-ie10 .md-icon-leak-remove:before { content: "\e3f9"; }
.lt-ie10 .md-icon-lens:before { content: "\e3fa"; }
.lt-ie10 .md-icon-library-add:before { content: "\e02e"; }
.lt-ie10 .md-icon-library-books:before { content: "\e02f"; }
.lt-ie10 .md-icon-library-music:before { content: "\e030"; }
.lt-ie10 .md-icon-link:before { content: "\e157"; }
.lt-ie10 .md-icon-list:before { content: "\e896"; }
.lt-ie10 .md-icon-live-help:before { content: "\e0c6"; }
.lt-ie10 .md-icon-live-tv:before { content: "\e639"; }
.lt-ie10 .md-icon-local-activity:before { content: "\e53f"; }
.lt-ie10 .md-icon-local-airport:before { content: "\e53d"; }
.lt-ie10 .md-icon-local-atm:before { content: "\e53e"; }
.lt-ie10 .md-icon-local-bar:before { content: "\e540"; }
.lt-ie10 .md-icon-local-cafe:before { content: "\e541"; }
.lt-ie10 .md-icon-local-car-wash:before { content: "\e542"; }
.lt-ie10 .md-icon-local-convenience-store:before { content: "\e543"; }
.lt-ie10 .md-icon-local-dining:before { content: "\e556"; }
.lt-ie10 .md-icon-local-drink:before { content: "\e544"; }
.lt-ie10 .md-icon-local-florist:before { content: "\e545"; }
.lt-ie10 .md-icon-local-gas-station:before { content: "\e546"; }
.lt-ie10 .md-icon-local-grocery-store:before { content: "\e547"; }
.lt-ie10 .md-icon-local-hospital:before { content: "\e548"; }
.lt-ie10 .md-icon-local-hotel:before { content: "\e549"; }
.lt-ie10 .md-icon-local-laundry-service:before { content: "\e54a"; }
.lt-ie10 .md-icon-local-library:before { content: "\e54b"; }
.lt-ie10 .md-icon-local-mall:before { content: "\e54c"; }
.lt-ie10 .md-icon-local-movies:before { content: "\e54d"; }
.lt-ie10 .md-icon-local-offer:before { content: "\e54e"; }
.lt-ie10 .md-icon-local-parking:before { content: "\e54f"; }
.lt-ie10 .md-icon-local-pharmacy:before { content: "\e550"; }
.lt-ie10 .md-icon-local-phone:before { content: "\e551"; }
.lt-ie10 .md-icon-local-pizza:before { content: "\e552"; }
.lt-ie10 .md-icon-local-play:before { content: "\e553"; }
.lt-ie10 .md-icon-local-post-office:before { content: "\e554"; }
.lt-ie10 .md-icon-local-printshop:before { content: "\e555"; }
.lt-ie10 .md-icon-local-see:before { content: "\e557"; }
.lt-ie10 .md-icon-local-shipping:before { content: "\e558"; }
.lt-ie10 .md-icon-local-taxi:before { content: "\e559"; }
.lt-ie10 .md-icon-location-city:before { content: "\e7f1"; }
.lt-ie10 .md-icon-location-disabled:before { content: "\e1b6"; }
.lt-ie10 .md-icon-location-off:before { content: "\e0c7"; }
.lt-ie10 .md-icon-location-on:before { content: "\e0c8"; }
.lt-ie10 .md-icon-location-searching:before { content: "\e1b7"; }
.lt-ie10 .md-icon-lock:before { content: "\e897"; }
.lt-ie10 .md-icon-lock-open:before { content: "\e898"; }
.lt-ie10 .md-icon-lock-outline:before { content: "\e899"; }
.lt-ie10 .md-icon-looks:before { content: "\e3fc"; }
.lt-ie10 .md-icon-looks-3:before { content: "\e3fb"; }
.lt-ie10 .md-icon-looks-4:before { content: "\e3fd"; }
.lt-ie10 .md-icon-looks-5:before { content: "\e3fe"; }
.lt-ie10 .md-icon-looks-6:before { content: "\e3ff"; }
.lt-ie10 .md-icon-looks-one:before { content: "\e400"; }
.lt-ie10 .md-icon-looks-two:before { content: "\e401"; }
.lt-ie10 .md-icon-loop:before { content: "\e028"; }
.lt-ie10 .md-icon-loupe:before { content: "\e402"; }
.lt-ie10 .md-icon-loyalty:before { content: "\e89a"; }
.lt-ie10 .md-icon-mail:before { content: "\e158"; }
.lt-ie10 .md-icon-map:before { content: "\e55b"; }
.lt-ie10 .md-icon-markunread:before { content: "\e159"; }
.lt-ie10 .md-icon-markunread-mailbox:before { content: "\e89b"; }
.lt-ie10 .md-icon-memory:before { content: "\e322"; }
.lt-ie10 .md-icon-menu:before { content: "\e5d2"; }
.lt-ie10 .md-icon-merge-type:before { content: "\e252"; }
.lt-ie10 .md-icon-message:before { content: "\e0c9"; }
.lt-ie10 .md-icon-mic:before { content: "\e029"; }
.lt-ie10 .md-icon-mic-none:before { content: "\e02a"; }
.lt-ie10 .md-icon-mic-off:before { content: "\e02b"; }
.lt-ie10 .md-icon-mms:before { content: "\e618"; }
.lt-ie10 .md-icon-mode-comment:before { content: "\e253"; }
.lt-ie10 .md-icon-mode-edit:before { content: "\e254"; }
.lt-ie10 .md-icon-money-off:before { content: "\e25c"; }
.lt-ie10 .md-icon-monochrome-photos:before { content: "\e403"; }
.lt-ie10 .md-icon-mood:before { content: "\e7f2"; }
.lt-ie10 .md-icon-mood-bad:before { content: "\e7f3"; }
.lt-ie10 .md-icon-more:before { content: "\e619"; }
.lt-ie10 .md-icon-more-horiz:before { content: "\e5d3"; }
.lt-ie10 .md-icon-more-vert:before { content: "\e5d4"; }
.lt-ie10 .md-icon-mouse:before { content: "\e323"; }
.lt-ie10 .md-icon-movie:before { content: "\e02c"; }
.lt-ie10 .md-icon-movie-creation:before { content: "\e404"; }
.lt-ie10 .md-icon-music-note:before { content: "\e405"; }
.lt-ie10 .md-icon-my-location:before { content: "\e55c"; }
.lt-ie10 .md-icon-nature:before { content: "\e406"; }
.lt-ie10 .md-icon-nature-people:before { content: "\e407"; }
.lt-ie10 .md-icon-navigate-before:before { content: "\e408"; }
.lt-ie10 .md-icon-navigate-next:before { content: "\e409"; }
.lt-ie10 .md-icon-navigation:before { content: "\e55d"; }
.lt-ie10 .md-icon-network-cell:before { content: "\e1b9"; }
.lt-ie10 .md-icon-network-locked:before { content: "\e61a"; }
.lt-ie10 .md-icon-network-wifi:before { content: "\e1ba"; }
.lt-ie10 .md-icon-new-releases:before { content: "\e031"; }
.lt-ie10 .md-icon-nfc:before { content: "\e1bb"; }
.lt-ie10 .md-icon-no-sim:before { content: "\e0cc"; }
.lt-ie10 .md-icon-not-interested:before { content: "\e033"; }
.lt-ie10 .md-icon-note-add:before { content: "\e89c"; }
.lt-ie10 .md-icon-notifications:before { content: "\e7f4"; }
.lt-ie10 .md-icon-notifications-active:before { content: "\e7f7"; }
.lt-ie10 .md-icon-notifications-none:before { content: "\e7f5"; }
.lt-ie10 .md-icon-notifications-off:before { content: "\e7f6"; }
.lt-ie10 .md-icon-notifications-paused:before { content: "\e7f8"; }
.lt-ie10 .md-icon-offline-pin:before { content: "\e90a"; }
.lt-ie10 .md-icon-ondemand-video:before { content: "\e63a"; }
.lt-ie10 .md-icon-open-in-browser:before { content: "\e89d"; }
.lt-ie10 .md-icon-open-in-new:before { content: "\e89e"; }
.lt-ie10 .md-icon-open-with:before { content: "\e89f"; }
.lt-ie10 .md-icon-pages:before { content: "\e7f9"; }
.lt-ie10 .md-icon-pageview:before { content: "\e8a0"; }
.lt-ie10 .md-icon-palette:before { content: "\e40a"; }
.lt-ie10 .md-icon-panorama:before { content: "\e40b"; }
.lt-ie10 .md-icon-panorama-fish-eye:before { content: "\e40c"; }
.lt-ie10 .md-icon-panorama-horizontal:before { content: "\e40d"; }
.lt-ie10 .md-icon-panorama-vertical:before { content: "\e40e"; }
.lt-ie10 .md-icon-panorama-wide-angle:before { content: "\e40f"; }
.lt-ie10 .md-icon-party-mode:before { content: "\e7fa"; }
.lt-ie10 .md-icon-pause:before { content: "\e034"; }
.lt-ie10 .md-icon-pause-circle-filled:before { content: "\e035"; }
.lt-ie10 .md-icon-pause-circle-outline:before { content: "\e036"; }
.lt-ie10 .md-icon-payment:before { content: "\e8a1"; }
.lt-ie10 .md-icon-people:before { content: "\e7fb"; }
.lt-ie10 .md-icon-people-outline:before { content: "\e7fc"; }
.lt-ie10 .md-icon-perm-camera-mic:before { content: "\e8a2"; }
.lt-ie10 .md-icon-perm-contact-calendar:before { content: "\e8a3"; }
.lt-ie10 .md-icon-perm-data-setting:before { content: "\e8a4"; }
.lt-ie10 .md-icon-perm-device-information:before { content: "\e8a5"; }
.lt-ie10 .md-icon-perm-identity:before { content: "\e8a6"; }
.lt-ie10 .md-icon-perm-media:before { content: "\e8a7"; }
.lt-ie10 .md-icon-perm-phone-msg:before { content: "\e8a8"; }
.lt-ie10 .md-icon-perm-scan-wifi:before { content: "\e8a9"; }
.lt-ie10 .md-icon-person:before { content: "\e7fd"; }
.lt-ie10 .md-icon-person-add:before { content: "\e7fe"; }
.lt-ie10 .md-icon-person-outline:before { content: "\e7ff"; }
.lt-ie10 .md-icon-person-pin:before { content: "\e55a"; }
.lt-ie10 .md-icon-personal-video:before { content: "\e63b"; }
.lt-ie10 .md-icon-phone:before { content: "\e0cd"; }
.lt-ie10 .md-icon-phone-android:before { content: "\e324"; }
.lt-ie10 .md-icon-phone-bluetooth-speaker:before { content: "\e61b"; }
.lt-ie10 .md-icon-phone-forwarded:before { content: "\e61c"; }
.lt-ie10 .md-icon-phone-in-talk:before { content: "\e61d"; }
.lt-ie10 .md-icon-phone-iphone:before { content: "\e325"; }
.lt-ie10 .md-icon-phone-locked:before { content: "\e61e"; }
.lt-ie10 .md-icon-phone-missed:before { content: "\e61f"; }
.lt-ie10 .md-icon-phone-paused:before { content: "\e620"; }
.lt-ie10 .md-icon-phonelink:before { content: "\e326"; }
.lt-ie10 .md-icon-phonelink-erase:before { content: "\e0db"; }
.lt-ie10 .md-icon-phonelink-lock:before { content: "\e0dc"; }
.lt-ie10 .md-icon-phonelink-off:before { content: "\e327"; }
.lt-ie10 .md-icon-phonelink-ring:before { content: "\e0dd"; }
.lt-ie10 .md-icon-phonelink-setup:before { content: "\e0de"; }
.lt-ie10 .md-icon-photo:before { content: "\e410"; }
.lt-ie10 .md-icon-photo-album:before { content: "\e411"; }
.lt-ie10 .md-icon-photo-camera:before { content: "\e412"; }
.lt-ie10 .md-icon-photo-library:before { content: "\e413"; }
.lt-ie10 .md-icon-photo-size-select-actual:before { content: "\e432"; }
.lt-ie10 .md-icon-photo-size-select-large:before { content: "\e433"; }
.lt-ie10 .md-icon-photo-size-select-small:before { content: "\e434"; }
.lt-ie10 .md-icon-picture-as-pdf:before { content: "\e415"; }
.lt-ie10 .md-icon-picture-in-picture:before { content: "\e8aa"; }
.lt-ie10 .md-icon-pin-drop:before { content: "\e55e"; }
.lt-ie10 .md-icon-place:before { content: "\e55f"; }
.lt-ie10 .md-icon-play-arrow:before { content: "\e037"; }
.lt-ie10 .md-icon-play-circle-filled:before { content: "\e038"; }
.lt-ie10 .md-icon-play-circle-outline:before { content: "\e039"; }
.lt-ie10 .md-icon-play-for-work:before { content: "\e906"; }
.lt-ie10 .md-icon-playlist-add:before { content: "\e03b"; }
.lt-ie10 .md-icon-plus-one:before { content: "\e800"; }
.lt-ie10 .md-icon-poll:before { content: "\e801"; }
.lt-ie10 .md-icon-polymer:before { content: "\e8ab"; }
.lt-ie10 .md-icon-portable-wifi-off:before { content: "\e0ce"; }
.lt-ie10 .md-icon-portrait:before { content: "\e416"; }
.lt-ie10 .md-icon-power:before { content: "\e63c"; }
.lt-ie10 .md-icon-power-input:before { content: "\e336"; }
.lt-ie10 .md-icon-power-settings-new:before { content: "\e8ac"; }
.lt-ie10 .md-icon-present-to-all:before { content: "\e0df"; }
.lt-ie10 .md-icon-print:before { content: "\e8ad"; }
.lt-ie10 .md-icon-public:before { content: "\e80b"; }
.lt-ie10 .md-icon-publish:before { content: "\e255"; }
.lt-ie10 .md-icon-query-builder:before { content: "\e8ae"; }
.lt-ie10 .md-icon-question-answer:before { content: "\e8af"; }
.lt-ie10 .md-icon-queue:before { content: "\e03c"; }
.lt-ie10 .md-icon-queue-music:before { content: "\e03d"; }
.lt-ie10 .md-icon-radio:before { content: "\e03e"; }
.lt-ie10 .md-icon-radio-button-checked:before { content: "\e837"; }
.lt-ie10 .md-icon-radio-button-unchecked:before { content: "\e836"; }
.lt-ie10 .md-icon-rate-review:before { content: "\e560"; }
.lt-ie10 .md-icon-receipt:before { content: "\e8b0"; }
.lt-ie10 .md-icon-recent-actors:before { content: "\e03f"; }
.lt-ie10 .md-icon-redeem:before { content: "\e8b1"; }
.lt-ie10 .md-icon-redo:before { content: "\e15a"; }
.lt-ie10 .md-icon-refresh:before { content: "\e5d5"; }
.lt-ie10 .md-icon-remove:before { content: "\e15b"; }
.lt-ie10 .md-icon-remove-circle:before { content: "\e15c"; }
.lt-ie10 .md-icon-remove-circle-outline:before { content: "\e15d"; }
.lt-ie10 .md-icon-remove-red-eye:before { content: "\e417"; }
.lt-ie10 .md-icon-reorder:before { content: "\e8fe"; }
.lt-ie10 .md-icon-repeat:before { content: "\e040"; }
.lt-ie10 .md-icon-repeat-one:before { content: "\e041"; }
.lt-ie10 .md-icon-replay:before { content: "\e042"; }
.lt-ie10 .md-icon-replay-10:before { content: "\e059"; }
.lt-ie10 .md-icon-replay-30:before { content: "\e05a"; }
.lt-ie10 .md-icon-replay-5:before { content: "\e05b"; }
.lt-ie10 .md-icon-reply:before { content: "\e15e"; }
.lt-ie10 .md-icon-reply-all:before { content: "\e15f"; }
.lt-ie10 .md-icon-report:before { content: "\e160"; }
.lt-ie10 .md-icon-report-problem:before { content: "\e8b2"; }
.lt-ie10 .md-icon-restaurant-menu:before { content: "\e561"; }
.lt-ie10 .md-icon-restore:before { content: "\e8b3"; }
.lt-ie10 .md-icon-ring-volume:before { content: "\e0d1"; }
.lt-ie10 .md-icon-room:before { content: "\e8b4"; }
.lt-ie10 .md-icon-rotate-90-degrees-ccw:before { content: "\e418"; }
.lt-ie10 .md-icon-rotate-left:before { content: "\e419"; }
.lt-ie10 .md-icon-rotate-right:before { content: "\e41a"; }
.lt-ie10 .md-icon-router:before { content: "\e328"; }
.lt-ie10 .md-icon-satellite:before { content: "\e562"; }
.lt-ie10 .md-icon-save:before { content: "\e161"; }
.lt-ie10 .md-icon-scanner:before { content: "\e329"; }
.lt-ie10 .md-icon-schedule:before { content: "\e8b5"; }
.lt-ie10 .md-icon-school:before { content: "\e80c"; }
.lt-ie10 .md-icon-screen-lock-landscape:before { content: "\e1be"; }
.lt-ie10 .md-icon-screen-lock-portrait:before { content: "\e1bf"; }
.lt-ie10 .md-icon-screen-lock-rotation:before { content: "\e1c0"; }
.lt-ie10 .md-icon-screen-rotation:before { content: "\e1c1"; }
.lt-ie10 .md-icon-sd-card:before { content: "\e623"; }
.lt-ie10 .md-icon-sd-storage:before { content: "\e1c2"; }
.lt-ie10 .md-icon-search:before { content: "\e8b6"; }
.lt-ie10 .md-icon-security:before { content: "\e32a"; }
.lt-ie10 .md-icon-select-all:before { content: "\e162"; }
.lt-ie10 .md-icon-send:before { content: "\e163"; }
.lt-ie10 .md-icon-settings:before { content: "\e8b8"; }
.lt-ie10 .md-icon-settings-applications:before { content: "\e8b9"; }
.lt-ie10 .md-icon-settings-backup-restore:before { content: "\e8ba"; }
.lt-ie10 .md-icon-settings-bluetooth:before { content: "\e8bb"; }
.lt-ie10 .md-icon-settings-brightness:before { content: "\e8bd"; }
.lt-ie10 .md-icon-settings-cell:before { content: "\e8bc"; }
.lt-ie10 .md-icon-settings-ethernet:before { content: "\e8be"; }
.lt-ie10 .md-icon-settings-input-antenna:before { content: "\e8bf"; }
.lt-ie10 .md-icon-settings-input-component:before { content: "\e8c0"; }
.lt-ie10 .md-icon-settings-input-composite:before { content: "\e8c1"; }
.lt-ie10 .md-icon-settings-input-hdmi:before { content: "\e8c2"; }
.lt-ie10 .md-icon-settings-input-svideo:before { content: "\e8c3"; }
.lt-ie10 .md-icon-settings-overscan:before { content: "\e8c4"; }
.lt-ie10 .md-icon-settings-phone:before { content: "\e8c5"; }
.lt-ie10 .md-icon-settings-power:before { content: "\e8c6"; }
.lt-ie10 .md-icon-settings-remote:before { content: "\e8c7"; }
.lt-ie10 .md-icon-settings-system-daydream:before { content: "\e1c3"; }
.lt-ie10 .md-icon-settings-voice:before { content: "\e8c8"; }
.lt-ie10 .md-icon-share:before { content: "\e80d"; }
.lt-ie10 .md-icon-shop:before { content: "\e8c9"; }
.lt-ie10 .md-icon-shop-two:before { content: "\e8ca"; }
.lt-ie10 .md-icon-shopping-basket:before { content: "\e8cb"; }
.lt-ie10 .md-icon-shopping-cart:before { content: "\e8cc"; }
.lt-ie10 .md-icon-shuffle:before { content: "\e043"; }
.lt-ie10 .md-icon-signal-cellular-4-bar:before { content: "\e1c8"; }
.lt-ie10 .md-icon-signal-cellular-connected-no-internet-4-bar:before { content: "\e1cd"; }
.lt-ie10 .md-icon-signal-cellular-no-sim:before { content: "\e1ce"; }
.lt-ie10 .md-icon-signal-cellular-null:before { content: "\e1cf"; }
.lt-ie10 .md-icon-signal-cellular-off:before { content: "\e1d0"; }
.lt-ie10 .md-icon-signal-wifi-4-bar:before { content: "\e1d8"; }
.lt-ie10 .md-icon-signal-wifi-4-bar-lock:before { content: "\e1d9"; }
.lt-ie10 .md-icon-signal-wifi-off:before { content: "\e1da"; }
.lt-ie10 .md-icon-sim-card:before { content: "\e32b"; }
.lt-ie10 .md-icon-sim-card-alert:before { content: "\e624"; }
.lt-ie10 .md-icon-skip-next:before { content: "\e044"; }
.lt-ie10 .md-icon-skip-previous:before { content: "\e045"; }
.lt-ie10 .md-icon-slideshow:before { content: "\e41b"; }
.lt-ie10 .md-icon-smartphone:before { content: "\e32c"; }
.lt-ie10 .md-icon-sms:before { content: "\e625"; }
.lt-ie10 .md-icon-sms-failed:before { content: "\e626"; }
.lt-ie10 .md-icon-snooze:before { content: "\e046"; }
.lt-ie10 .md-icon-sort:before { content: "\e164"; }
.lt-ie10 .md-icon-sort-by-alpha:before { content: "\e053"; }
.lt-ie10 .md-icon-space-bar:before { content: "\e256"; }
.lt-ie10 .md-icon-speaker:before { content: "\e32d"; }
.lt-ie10 .md-icon-speaker-group:before { content: "\e32e"; }
.lt-ie10 .md-icon-speaker-notes:before { content: "\e8cd"; }
.lt-ie10 .md-icon-speaker-phone:before { content: "\e0d2"; }
.lt-ie10 .md-icon-spellcheck:before { content: "\e8ce"; }
.lt-ie10 .md-icon-star:before { content: "\e838"; }
.lt-ie10 .md-icon-star-border:before { content: "\e83a"; }
.lt-ie10 .md-icon-star-half:before { content: "\e839"; }
.lt-ie10 .md-icon-stars:before { content: "\e8d0"; }
.lt-ie10 .md-icon-stay-current-landscape:before { content: "\e0d3"; }
.lt-ie10 .md-icon-stay-current-portrait:before { content: "\e0d4"; }
.lt-ie10 .md-icon-stay-primary-landscape:before { content: "\e0d5"; }
.lt-ie10 .md-icon-stay-primary-portrait:before { content: "\e0d6"; }
.lt-ie10 .md-icon-stop:before { content: "\e047"; }
.lt-ie10 .md-icon-storage:before { content: "\e1db"; }
.lt-ie10 .md-icon-store:before { content: "\e8d1"; }
.lt-ie10 .md-icon-store-mall-directory:before { content: "\e563"; }
.lt-ie10 .md-icon-straighten:before { content: "\e41c"; }
.lt-ie10 .md-icon-strikethrough-s:before { content: "\e257"; }
.lt-ie10 .md-icon-style:before { content: "\e41d"; }
.lt-ie10 .md-icon-subject:before { content: "\e8d2"; }
.lt-ie10 .md-icon-subtitles:before { content: "\e048"; }
.lt-ie10 .md-icon-supervisor-account:before { content: "\e8d3"; }
.lt-ie10 .md-icon-surround-sound:before { content: "\e049"; }
.lt-ie10 .md-icon-swap-calls:before { content: "\e0d7"; }
.lt-ie10 .md-icon-swap-horiz:before { content: "\e8d4"; }
.lt-ie10 .md-icon-swap-vert:before { content: "\e8d5"; }
.lt-ie10 .md-icon-swap-vertical-circle:before { content: "\e8d6"; }
.lt-ie10 .md-icon-switch-camera:before { content: "\e41e"; }
.lt-ie10 .md-icon-switch-video:before { content: "\e41f"; }
.lt-ie10 .md-icon-sync:before { content: "\e627"; }
.lt-ie10 .md-icon-sync-disabled:before { content: "\e628"; }
.lt-ie10 .md-icon-sync-problem:before { content: "\e629"; }
.lt-ie10 .md-icon-system-update:before { content: "\e62a"; }
.lt-ie10 .md-icon-system-update-alt:before { content: "\e8d7"; }
.lt-ie10 .md-icon-tab:before { content: "\e8d8"; }
.lt-ie10 .md-icon-tab-unselected:before { content: "\e8d9"; }
.lt-ie10 .md-icon-tablet:before { content: "\e32f"; }
.lt-ie10 .md-icon-tablet-android:before { content: "\e330"; }
.lt-ie10 .md-icon-tablet-mac:before { content: "\e331"; }
.lt-ie10 .md-icon-tag-faces:before { content: "\e420"; }
.lt-ie10 .md-icon-tap-and-play:before { content: "\e62b"; }
.lt-ie10 .md-icon-terrain:before { content: "\e564"; }
.lt-ie10 .md-icon-text-format:before { content: "\e165"; }
.lt-ie10 .md-icon-textsms:before { content: "\e0d8"; }
.lt-ie10 .md-icon-texture:before { content: "\e421"; }
.lt-ie10 .md-icon-theaters:before { content: "\e8da"; }
.lt-ie10 .md-icon-thumb-down:before { content: "\e8db"; }
.lt-ie10 .md-icon-thumb-up:before { content: "\e8dc"; }
.lt-ie10 .md-icon-thumbs-up-down:before { content: "\e8dd"; }
.lt-ie10 .md-icon-time-to-leave:before { content: "\e62c"; }
.lt-ie10 .md-icon-timelapse:before { content: "\e422"; }
.lt-ie10 .md-icon-timer:before { content: "\e425"; }
.lt-ie10 .md-icon-timer-10:before { content: "\e423"; }
.lt-ie10 .md-icon-timer-3:before { content: "\e424"; }
.lt-ie10 .md-icon-timer-off:before { content: "\e426"; }
.lt-ie10 .md-icon-toc:before { content: "\e8de"; }
.lt-ie10 .md-icon-today:before { content: "\e8df"; }
.lt-ie10 .md-icon-toll:before { content: "\e8e0"; }
.lt-ie10 .md-icon-tonality:before { content: "\e427"; }
.lt-ie10 .md-icon-toys:before { content: "\e332"; }
.lt-ie10 .md-icon-track-changes:before { content: "\e8e1"; }
.lt-ie10 .md-icon-traffic:before { content: "\e565"; }
.lt-ie10 .md-icon-transform:before { content: "\e428"; }
.lt-ie10 .md-icon-translate:before { content: "\e8e2"; }
.lt-ie10 .md-icon-trending-down:before { content: "\e8e3"; }
.lt-ie10 .md-icon-trending-flat:before { content: "\e8e4"; }
.lt-ie10 .md-icon-trending-up:before { content: "\e8e5"; }
.lt-ie10 .md-icon-tune:before { content: "\e429"; }
.lt-ie10 .md-icon-turned-in:before { content: "\e8e6"; }
.lt-ie10 .md-icon-turned-in-not:before { content: "\e8e7"; }
.lt-ie10 .md-icon-tv:before { content: "\e333"; }
.lt-ie10 .md-icon-undo:before { content: "\e166"; }
.lt-ie10 .md-icon-unfold-less:before { content: "\e5d6"; }
.lt-ie10 .md-icon-unfold-more:before { content: "\e5d7"; }
.lt-ie10 .md-icon-usb:before { content: "\e1e0"; }
.lt-ie10 .md-icon-verified-user:before { content: "\e8e8"; }
.lt-ie10 .md-icon-vertical-align-bottom:before { content: "\e258"; }
.lt-ie10 .md-icon-vertical-align-center:before { content: "\e259"; }
.lt-ie10 .md-icon-vertical-align-top:before { content: "\e25a"; }
.lt-ie10 .md-icon-vibration:before { content: "\e62d"; }
.lt-ie10 .md-icon-video-library:before { content: "\e04a"; }
.lt-ie10 .md-icon-videocam:before { content: "\e04b"; }
.lt-ie10 .md-icon-videocam-off:before { content: "\e04c"; }
.lt-ie10 .md-icon-view-agenda:before { content: "\e8e9"; }
.lt-ie10 .md-icon-view-array:before { content: "\e8ea"; }
.lt-ie10 .md-icon-view-carousel:before { content: "\e8eb"; }
.lt-ie10 .md-icon-view-column:before { content: "\e8ec"; }
.lt-ie10 .md-icon-view-comfy:before { content: "\e42a"; }
.lt-ie10 .md-icon-view-compact:before { content: "\e42b"; }
.lt-ie10 .md-icon-view-day:before { content: "\e8ed"; }
.lt-ie10 .md-icon-view-headline:before { content: "\e8ee"; }
.lt-ie10 .md-icon-view-list:before { content: "\e8ef"; }
.lt-ie10 .md-icon-view-module:before { content: "\e8f0"; }
.lt-ie10 .md-icon-view-quilt:before { content: "\e8f1"; }
.lt-ie10 .md-icon-view-stream:before { content: "\e8f2"; }
.lt-ie10 .md-icon-view-week:before { content: "\e8f3"; }
.lt-ie10 .md-icon-vignette:before { content: "\e435"; }
.lt-ie10 .md-icon-visibility:before { content: "\e8f4"; }
.lt-ie10 .md-icon-visibility-off:before { content: "\e8f5"; }
.lt-ie10 .md-icon-voice-chat:before { content: "\e62e"; }
.lt-ie10 .md-icon-voicemail:before { content: "\e0d9"; }
.lt-ie10 .md-icon-volume-down:before { content: "\e04d"; }
.lt-ie10 .md-icon-volume-mute:before { content: "\e04e"; }
.lt-ie10 .md-icon-volume-off:before { content: "\e04f"; }
.lt-ie10 .md-icon-volume-up:before { content: "\e050"; }
.lt-ie10 .md-icon-vpn-key:before { content: "\e0da"; }
.lt-ie10 .md-icon-vpn-lock:before { content: "\e62f"; }
.lt-ie10 .md-icon-wallpaper:before { content: "\e1bc"; }
.lt-ie10 .md-icon-warning:before { content: "\e002"; }
.lt-ie10 .md-icon-watch:before { content: "\e334"; }
.lt-ie10 .md-icon-wb-auto:before { content: "\e42c"; }
.lt-ie10 .md-icon-wb-cloudy:before { content: "\e42d"; }
.lt-ie10 .md-icon-wb-incandescent:before { content: "\e42e"; }
.lt-ie10 .md-icon-wb-iridescent:before { content: "\e436"; }
.lt-ie10 .md-icon-wb-sunny:before { content: "\e430"; }
.lt-ie10 .md-icon-wc:before { content: "\e63d"; }
.lt-ie10 .md-icon-web:before { content: "\e051"; }
.lt-ie10 .md-icon-whatshot:before { content: "\e80e"; }
.lt-ie10 .md-icon-widgets:before { content: "\e1bd"; }
.lt-ie10 .md-icon-wifi:before { content: "\e63e"; }
.lt-ie10 .md-icon-wifi-lock:before { content: "\e1e1"; }
.lt-ie10 .md-icon-wifi-tethering:before { content: "\e1e2"; }
.lt-ie10 .md-icon-work:before { content: "\e8f9"; }
.lt-ie10 .md-icon-wrap-text:before { content: "\e25b"; }
.lt-ie10 .md-icon-youtube-searched-for:before { content: "\e8fa"; }
.lt-ie10 .md-icon-zoom-in:before { content: "\e8ff"; }
.lt-ie10 .md-icon-zoom-out:before { content: "\e900"; }
